{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
  <h1>Edit Your Profile</h1>
  <form method="post" enctype="multipart/form-data" action="{% url 'profile-edit' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <h2>External Accounts</h2>
    {{ external_formset.management_form }}
    <table>
      {% for subform in external_formset %}
        <tr>
          {% for hidden in subform.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          
          <td>{{ subform.service.label_tag }}<br>{{ subform.service }}</td>
          <td>{{ subform.identifier.label_tag }}<br>{{ subform.identifier }}</td>
          <td>{{ subform.url.label_tag }}<br>{{ subform.url }}</td>
          <td>
            {% if subform.instance.pk %}
              {{ subform.DELETE }} <label for="{{ subform.DELETE.id_for_label }}">Delete</label>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <button type="submit" class="btn submit">
      Save Changes
    </button>
    <a href="{% url 'profile-detail' %}" class="btn secondary">
      Cancel
    </a>
  </form>
{% endblock %}
