{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/events/form.css' %}">
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      {% if object %}
        Edit Event for {{ guild.name }}
      {% else %}
        Schedule New Event for {{ guild.name }}
      {% endif %}
    </h1>
  </div>

  <form method="post" class="form-container">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="flex space-x-4 mt-4">
      <button type="submit" class="btn submit">
        {% if object %}Save Changes{% else %}Create Event{% endif %}
      </button>
      <a href="{% url 'guild-detail' guild.pk %}" class="btn secondary">
        Cancel
      </a>
    </div>
  </form>
{% endblock %}
